 .modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   /* Fallback color */
}
    
        /* Modal Content/Box */
.modal-content {
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #fff;
   width: 30%; /* Could be more or less, depending on screen size */                          
   height: 25%;
}

.modal-content > select, .modal-content > input {
	width:100%;	
}

<!-- 여기부터 -->
   
#board_background {
    padding-left: 280px !important;
    padding-top: 100px !important;
    padding-right : 220px !important;
    background-color: white !important;
}

#write_button {
    padding-left: 40px;
    border-color: black;
    border: 1px solid;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    right: 280px;
    top: 150px;
}

.folder_name {
    display: block;
    
    padding: 14px 0 15px 0;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
    color: #F5876E;
}

hr {
	margin-top:20px;
	margin-bottom:20px;
	border:0;
	border-top:2px solid black
}

.folder {
	float:right;
	margin-top:4px
}

#td_center {
	text-align:center;
}

#td_right {
	text-align:right;
}

#keyword {
	width:60%;
}

#searchType{
	margin-left:40px;
} 

.modal_button {
	text-align:center;
	margin-top:20px;
}