@charset "euc-kr";

/* @font-face {
    font-family:ng;
    font-weight:normal;
    src:url(https://hangame-images.toastoven.net/hangame/main2016/fonts/NanumGothic.eot);
    src:url(https://hangame-images.toastoven.net/hangame/main2016/fonts/NanumGothic.eot?#iefix) format('embedded-opentype'),
        url(https://hangame-images.toastoven.net/hangame/main2016/fonts/NanumGothic.woff) format('woff'),
        url(https://hangame-images.toastoven.net/hangame/main2016/fonts/NanumGothic.ttf) format('truetype');
} */

/* reset */
/* body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0} */
html{overflow:auto}/* 플로팅 배너 관련 레이아웃 */
body{overflow:hidden;position:relative;min-width:1100px;background-color:#eef3f6;}/* 플로팅 배너 관련 레이아웃 */
body{font-size: 16px;
    line-height: 1.5;
    font-family: 'NotoSans Light','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif;
}
/* body,input,textarea,select,button,table{font-family:'나눔고딕','NanumGothic',ng,'돋움',Dotum,'Apple SD Gothic Neo',sans-serif;font-size:12px;color:#333} */
fieldset,img,button{border:0 none;vertical-align:top}
table{border-top: 2px solid #4d4d4d;}
address,caption{font-style:normal;font-weight:normal}
em{font-style:normal}
dl,ul,ol,li{list-style:none}
a{color:#000;text-decoration:none;*cursor:pointer}
button{overflow:visible;border:0;background:transparent;cursor:pointer;box-sizing:content-box}
button::-moz-focus-inner{padding:0;border:0}
input[type='text'],input[type='password']{border:0;background:transparent;vertical-align:top;outline:none}
input[type='checkbox'],input[type='radio']{border:none;-webkit-appearance:none;appearance:none;background:transparent;vertical-align:top}
input[type=text]::-ms-clear{display:none}
input{-webkit-appearance:none;appearance:none}
hr{border:1.2px solid black}

