@charset "utf-8";

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css); 
/* 폰트 Weight ExL 100, L 300, R 400, M 500, B 700, H 900 */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900');
/* 폰트 Weight ExL 200, L 300, R 400, SeB 600, B 700, ExB 800, BK 900 */

.info_section{border-top:1px solid #eeeff0;background:#fff}
.info_section .inner{position:relative;padding:26px 0 51px}
.info_area{padding-left:122px}
.nhnent_link{position:absolute;top:26px;left:0}
.logo_nhn{width:91px;height:26px;background-position:0 -32px}
.policy_lst{*zoom:1}
.policy_lst:after{display:block;clear:both;content:''}
.policy_item{float:left}
.policy_item .bar{margin:-2px 12px 0 14px}
.policy_link{color:#666;line-height:14px}
.policy_link strong{font-weight:normal}}