<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mappers.documentMapper">

<!-- title, content, author_id, position, newFile, oldFile, temp, size, views, upload_date, fileType, folder -->
	<!-- 게시물 작성 -->
	<insert id="upload" parameterType="com.edu.domain.DocumentVO" useGeneratedKeys="true" keyProperty="id">
		insert into
			document(author_id, title, content, position, newFile, oldFile, temp, size, views, upload_date, fileType, folder, type, fileName)
				values(#{author_id}, #{title}, #{content}, #{position}, #{newFile},#{newFile},#{newFile}, #{size}, 0, NOW(), #{fileType}, #{folder} , #{type}, #{fileName})
	</insert>
	
	<!-- 게시물 수정 -->
	<update id="update" parameterType="com.edu.domain.DocumentVO">
		update 
			document
				set
					title = #{title},
					content = #{content},
					
					newFile=#{newFile},
					oldFile=temp,
					temp = newFile,
					
					size=#{size},
					fileName=#{fileName},
					type=#{type},
					fileType=#{fileType},
					folder=#{folder}
					
				where
					document_code = #{document_code}
	</update>
	<!-- 게시물 삭제 -->
	<delete id="delete" parameterType="String">
		delete from
			document
				where 
					document_code = #{document_code} 
	</delete>
	<!-- 게시물 조회 -->
	<select id="view"  resultType="com.edu.domain.DocumentVO">
		select
			document_code, author_id, title, content, views, newFile, upload_date, fileName,fileType, size, type, folder, emp.name_kor, emp.position
		from 
			document doc, employees emp
		where 
			document_code = #{document_code} and doc.author_id=emp.id 
		limit 1			
	</select>
	<!-- 게시물 목록 -->
	<select id="list" resultType="com.edu.domain.DocumentVO">
		select
			*
				from document
				
	</select>

	<update id="viewCnt" parameterType="com.edu.domain.DocumentVO">
		update document
		set views=views+1
		where document_code = #{document_code}
	</update>
	
	<insert id="makeFolder" parameterType="String">
		insert into
			folder(folder)
				values(#{folder})
	</insert>
	
	<select id="findFolder" resultType="String">
		select count(*) from folder where folder=#{folder}
	</select>
	
	<select id="folderList" resultType="com.edu.domain.FolderVO">
		select * from folder;
	</select>
	
	<update id="moveFolder" parameterType="com.edu.domain.DocumentVO">
		update document
		set folder=#{folder}
		where document_code = #{document_code}
	</update>
	
	<delete id="deleteFolder" parameterType="String">
		delete from folder where folder=#{folder}
	</delete>
	
	<update id="updateFolder" parameterType="String">
		update document
		set folder='unknown'
		where folder = #{folder}
	</update>
	
</mapper>

