<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mappers.employeeMapper">

	<select id="join" resultType="com.edu.domain.EmployeeDTO">
		select
			name_kor, name_eng, email, phone_number, birth, org_code, department_id, deparment_name, branch_id, branch_name, position, hire_date, fire_date, status, img_root, img_size
				from EMPLOYEES
					where emp_code = #{emp_code}
	</select>

</mapper>

