<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mappers.employeeMapper">

	<select id="join" resultType="com.edu.domain.EmployeeDTO">
		select
			emp_code, name_kor, name_eng, email, phone_number, birth, org_code, department_id, branch_id, position, hire_date, fire_date, status, img
				from EMPLOYEES
					where emp_code = #{emp_code}
	</select>
	
	<update id="infoUpdate" parameterType="com.edu.domain.EmployeeDTO">
		update 
			EMPLOYEES
				set
					id = #{id},
					password = #{password},
					name_kor = #{name_kor},
					name_eng = #{name_eng},
					email = #{email},
					phone_number = #{phone_number},
					birth = #{birth},
					org_code = #{org_code},
					
					img = #{img}
				where
					emp_code = #{emp_code}
	</update>

	<select id="login" resultType="com.edu.domain.EmployeeDTO">
		select
			emp_code, id, password, name_kor, name_eng, email, phone_number, birth, org_code, department_id, branch_id, position, hire_date, fire_date, status, img
				from EMPLOYEES
					where id=#{id} and password= #{password}
	</select>
	
	<select id="findId" resultType="com.edu.domain.EmployeeDTO">
		select id, name_kor
		from employees
		where emp_code=#{emp_code} and name_kor=#{name_kor}
	</select>
	
	<select id="findPassword" resultType="com.edu.domain.EmployeeDTO">
		select id, name_kor, emp_code
		from employees
		where emp_code=#{emp_code} and id=#{id}
	</select>
	
	<update id="changePassword" parameterType="com.edu.domain.EmployeeDTO">
		update employees
		set password=#{password}
		where emp_code=#{emp_code} and id='${id}'
	</update>
	
</mapper>

